body {
    font-family: 'Roboto Slab', sans;
    color: white;
    background-color: #68BDCA;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none important;
}

h1 {
    color: #2980B9;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #484848;
}
